[Unit]
Description=Update the system once a day without user prompts
Documentation=https://github.com/noloader/auto-update

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/auto-update
