[Unit]
Description=Update the system once a day without user prompts
Documentation=https://github.com/noloader/auto-update

[Service]
Type=oneshot
ExecStart=/usr/sbin/auto-update
Wants=auto-update.timer

[Install]
WantedBy=multi-user.target
